.cabecalho {
    background-image: linear-gradient(bisque,darksalmon);
    color: black;
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-image: linear-gradient(darksalmon,chocolate);
    padding: 100px;
}

.section2 {
    background-image: linear-gradient(chocolate,peru);
    padding: 100px;
}

.section1-imagem {
    width: 10%;
}

.section2-imagem {
    width: 10%;
}

.rodape{
    background-image: linear-gradient(peru);
    padding: 100px;
    width: 10%;
}
