.cabecalho {
    background-color: bisque;
    color: black;
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-color: darksalmon;
    padding: 100px;
}

.section2 {
    background-color: chocolate;
    padding: 100px;
}